.productos {
  /* margin: 5px 10px; */

min-height: 90vh;
object-fit: cover;
padding: 20px 0px;
display: flex;
flex-direction: column;
background-color:#fb8500;
color:black ;
}
.productos p,h2{
  text-align: center;
color: #000;
}

#conoce-nuestro-trabajo{
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px;
  font-size: 25px;
  
}