.productos {
  /* margin: 5px 10px; */

min-height: 90vh;
object-fit: cover;
padding: 20px 0px;
display: flex;
flex-direction: column;
background-color: rgba(255, 165, 0, 0.68);
color:black ;
}
.productos p,h2{
  text-align: center;

}

#conoce-nuestro-trabajo{
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px;
  font-size: 25px;
  
}