.productos {
  /* margin: 5px 10px; */

min-height: 90vh;
object-fit: cover;
padding: 20px 0px;
display: flex;
flex-direction: column;
background-color:rgba(0, 0, 34, .75);
color: #f79000;

justify-content: space-around;
}
.productos h2{
  text-align: center;
  color: #f79000;
}
.productos p {
  color: #ffff;

}

#conoce-nuestro-trabajo{
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px;
  font-size: 25px;
  
}